# OS
.DS_Store
*.swp
*.swo
*.swl
*.swm
*.swn
.vscode
.idea
*.pyc

# Build
vendor
build
gen/
tools/bin/*
examples/build/*
docs/_build
docs/tutorial
docs/node_modules
docs/modules
ts-client/
vue/node_modules
vue/dist
dist
tools-stamp
proto-tools-stamp
buf-stamp

# Data - ideally these don't exist
app/data/*
x/farming/client/lcd/keys/*
mytestnet

# Testing
coverage.out
profile.out
sim_log_file

# Vagrant
.vagrant/
*.box
*.log
vagrant

# IDE
.idea/
*.iml

# Localnet
data/
